.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  padding-right: 10px;
}

.menu__link {
  display: block;
  padding: 10px 12px 8px;
  color: #8703DA;
  font-size: 18px;
  transition: all 0.4s ease-out;
}

.menu__link:hover {
  color: #F0CD1C;
  background: repeating-linear-gradient( to left, rgb(48,49,51), rgb(74,74,70) 10px, rgb(48,49,51) 20px);
}

.menu_position_right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu_vertical_layout {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu_vertical_layout .menu__link {
  color: #ffffff;
}
